<h4 ng-show="showUpdatePassword">Update Password</h4>
<button ng-show="!showUpdatePassword" ng-click="toggleShowUpdatePassword()" class="btn btn-default"
        type="button">Update Password</button>
<div ng-show="showUpdatePassword" class="profile-form">
  <form ng-submit="savePassword(updatePasswordForm.$valid && updatePassword.password1 == updatePassword.password2)"
        id="updatepasswordForm" name="updatePasswordForm" class="form-horizontal" novalidate>

    <div class="form-group"
         ng-class="{ 'has-error': updatePasswordForm.password.$invalid && !updatePasswordForm.password.$pristine }">
      <label class="control-label col-xs-4" for="password">Current Password:</label>
      <div class="col-xs-5">
        <input ng-model="updatePassword.password" id="password" name="password"
               class="form-control" type="password" placeholder="Current password" ng-required="true">
      </div>
    </div>

    <div class="form-group"
         ng-class="{ 'has-error': updatePasswordForm.password1.$invalid && !updatePasswordForm.password1.$pristine }">
      <label class="control-label col-xs-4" for="password1">New Password:</label>
      <div class="col-xs-5">
        <input ng-model="updatePassword.password1" id="password1" name="password1"
               class="form-control" type="password" placeholder="New password" ng-required="true">
      </div>
    </div>

    <div class="form-group"
         ng-class="{ 'has-error': (updatePasswordForm.password2.$invalid && !updatePasswordForm.password2.$pristine) || (updatePassword.password1 != updatePassword.password2 && !updatePasswordForm.password2.$pristine) }">
      <label class="control-label col-xs-4" for="password2">Confirm Password:</label>
      <div class="col-xs-5">
        <input ng-model="updatePassword.password2" id="password2" name="password2"
               class="form-control" type="password" placeholder="Confirm password" ng-required="true">
      </div>
      <div class="col-xs-5">
        <span ng-show="!updatePasswordForm.password2.$pristine && updatePassword.password1 != updatePassword.password2">
          Password mismatch
        </span>
      </div>
    </div>

    <div class="form-group">
      <div class="col-xs-offset-3 col-xs-5">
        <button ng-disabled="updatePasswordForm.$invalid || updatePassword.password1 != updatePassword.password2"
                class="btn btn-default" type="submit">Save</button>
        <button ng-click="toggleShowUpdatePassword()" class="btn btn-default" type="button">Cancel</button>
      </div>
    </div>

  </form>
</div>
