<div class="row">
  <h1>{{title}}</h1>
</div>
<div class="row">
  <div class="col-md-4">
    <ul>
      <li><a ui-sref="app.messages.search">Search</a></li>
      <li><a ui-sref="app.messages.compose">Compose</a></li>
      <li><a ui-sref="app.messages.inbox">Inbox</a></li>
      <li><a ui-sref="app.messages.unread">Unread</a></li>
      <li><a ui-sref="app.messages.system">System Messages</a></li>
      <li><a ui-sref="app.messages.outbox">Outbox</a></li>
      <li><a ui-sref="app.messages.detail">Detail</a></li>
    </ul>
  </div>
  <div class="col-md-8">
    {{title}} content
  </div>
</div>
