<div class="row">

  <div class="col-md-4">
    <employee-search></employee-search>
  </div>

  <div class="col-md-4">
    <h1>{{title | titlecase}}</h1>
  </div>

</div>

<div class="row">

  <div class="col-md-2">
    <employee-nav></employee-nav>
  </div>

  <div class="col-md-8">

    <div>
      <span>
        <button ng-disabled="!meta.prev_url" ng-click="getPrev()" class="btn">Prev</button>
        <button ng-disabled="!meta.next_url" ng-click="getNext()" class="btn">Next</button>
        <span>{{minItemPage}} - {{maxItemPage}} of {{meta.total || 0}} employees</span>
      </span>
    </div>

    <table class="table">
      <thead>
        <tr>
          <th>Manager</th>
          <th>Last</th>
          <th>First</th>
          <th>Title</th>
          <th>Department</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr employee-list ng-repeat="employee in employees">
        </tr>
      </tbody>
      <div ng-hide="employees.length">No employees found.</div>
    </table>

  </div>
</div>
