html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;

    > .container {
        padding: 15px 15px 0;
    }
}

.search-box {
    margin-top: 20px;
}

.search-dropdown {
    margin-right: -4px;
    border-radius: 4px 0px 0px 4px;
}

.search-right {
    border-radius: 0px;
}

.app-spinner {
    position: absolute;
    left: 30px;
    top: 24px;
}

.message-form {
    margin-top: 20px;
}

div.select-search-box > div > span.ui-select-toggle.form-control.btn-default.btn {
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}

.select2 > .select2-choice.ui-select-match {
    /* Because of the inclusion of Bootstrap */
    height: 29px;
}

.selectize-control > .selectize-dropdown {
    top: 36px;
}

.container .text-muted {
  margin: 20px 0;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #f5f5f5;

  > .container {
      padding-right: 15px;
      padding-left: 15px;
  }
}
